/* html{
    height: 100%;
  } */
#map{
    position: absolute; 
        top: 0; 
        bottom: 0;
        width: 700px;
        height: 480px; 
        width: 100%;
     }

#collage {
    background-image: url("collage_black_white.jpg");
    padding:0;
    margin:0;
}

#cdmx {
    background-image: url("cdmx_black_white.jpg");
    padding:0;
    margin:0;
}

#gdl {
    background-image: url("gdl_black_white.jpg");
    padding:0;
    margin:0;
}

#mty {
    background-image: url("mty_blanco_negro.jpg");
    padding:0;
    margin:0;
}

.layer-image{
    background-color: whitesmoke;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.h1-format{
    color: white;
}

.link-default {
    color: white;
    text-decoration: none;
}

.bg-house {
    background-color: white;
}

.buttons-position{
    position: absolute;
    right: 0px;
}

.header-style{
    color:black;
}

.button-right{
    margin-right: 10px;
}

.button-header{
    background-color: black;
    border-color: gray;
    color: #fff;
}

/*30 px space between the header and the following element*/
.margin-bottom-50{
    margin-bottom: 80px;
}

.margin-bottom-30{
    margin-bottom: 50px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.box-1 {
    /*background: black;*/
    /* height: 400px; */
    box-sizing: content-box;
    /*margin-right: 5px;*/
    /* margin-left: 0; */
    /*margin-bottom:20px;*/
}

.box-2 {
    box-sizing: content-box;
    background: white;
    margin-left:5px;
    border:10px;
    border-color:black;  
}

.margin-column-left{
    margin-left: 0%;
}

.margin-column-right{
    margin-right: 0%;
}

.text-explanation{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: normal;
 }

.h1-title{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
}

pre {
    white-space: pre-wrap;
    text-align: justify;
    padding: 10px;
}

.margin-columns{
    margin-left: 5%;
    /*margin-right: 5%;*/
}

main{
    margin:0%;
}

.navbar-li-default-link {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-top:10px;
  cursor: pointer;
  background: black;
  border-radius: 3px;
}

